[Unit]
Description=Flask Application
After=network.target

[Service]
User=ar3m
WorkingDirectory=/home/ar3m/hooks
Environment="FLASK_APP=/home/ar3m/hooks/app/server.py"
Environment="FLASK_ENV=development"
ExecStart=/home/ar3m/hooks/venvs/bin/flask run --host 0.0.0.0 --port 8082
Restart=always

[Install]
WantedBy=multi-user.target